# misc
*~

# python
*.pyc
*.pyo

# eclipse
.project
.pydevproject
.cproject

# autotools
*.la
*.lo
*.o
*.pc
.libs
.deps
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing


# lib
lib/tests/tests

# bindings/java
bindings/java/bin
bindings/java/target

